<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <main>
         <form method="post" action="/form"> <!--  action = hit api endpoint / redirect on this-->
            <h1>contact now</h1>
            <input type="text" name="name" placeholder="Name"/>
            <input type="email" name="email" placeholder="Email"/>
            <button type="submit">send message</button>
        </form>
    </main>
    <!-- <h1>Home</h1>
    <p>hello <%=name%> </p> -->
</body>

<script src="script.js"></script>
</html>